@font-face {
    font-family: costum_font;
    src: url(../assets/fonts/brocklyn.woff);
}

body{
    font-family: costum_font;
    color: #ffffff;
    background-color: #b12424;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
  
body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1150px) {
    main{
        padding-bottom: 5em!important;
    }
    .boxes{
        flex-direction: column!important;
    }
    .box{
        margin: 1em!important;
    }
    #popup{
        display: block!important;
    }
    .page-link{
        display: none!important;
    }
}

@media only screen and (max-width: 700px) {
    .footer-box{
        display: none!important;
    }
}
  
#popup{
    display: none;
    position: fixed;
    right: 0; 
    margin: 0.5em;
}
  
#popup img{
    width: 5em;
    -webkit-filter: drop-shadow(0 0 5px #000000);
    filter: drop-shadow(0 0 5px #000000);
}
  
#popup-close{
    display: none;
}
  
#menu{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-radius: 0.5em;
    background-color: #b12424;
    width: 10em;
    height: 23em;
    box-shadow: 0 0 5px #000000;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-link{
    text-decoration: none;
    font-size: 3rem;
    color: #ffffff;
    margin: 0.2em;
    text-align: right;
}

.menu-link:hover{
    text-decoration: underline;
}
  
header{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
}

.page-icon{
    width: 20em;
}

.page-link{
    text-decoration: none;
    font-size: 3rem;
    color: #ffffff;
    margin: 1em;
}

.page-link:hover{
    text-decoration: underline;
}

main{
    background-color: #ffffff;
    width: 100%;
    min-height: 40em;
    padding-bottom: 5em;
    color: #b12424;
}

.title{
    text-align: center;
    font-size: 5rem;
    padding-top: 1em;
}

footer{
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icon{
    width: 16em;
}

.footer-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12em;
    width: 20em;
}

.footer-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    margin: 0.25em;
}

.footer-link:hover{
    text-decoration: underline;
}